ukol-7: Adopce zvířat
Úkol můžeš odevzdat buďto jako Jupyter Notebook .ipynb, nebo jako klasický program .py.

Stáhni si dataset, který obsahuje seznam zvířat k adopci v ZOO Praha. Zdroj dat je Národní katalog otevřených dat.

Data si načti pomocí metody pandas.read_csv(). Pozor, nastav oddělovač na znak středníku. Využij parametr sep.

Seznam se s daty. Kolik má tabulka řádek a sloupců? Jak se sloupce jmenují?

Které zvíře se nachází na záznamu s indexem 34? Vypiš název tohoto zvířete v češtině a v angličtině.

Nepovinný bonus
Využij metody sort_values() (a libovolných dalších metod), ke zjištění následujících informací:

Adopce kterých zvířat je nejdražší?
Které zvíře je alfabeticky poslední v češtině? Které v angličtině?
Bonus můžeš doplnit o nějaké vlastní pozorování.

In [21]:
import pandas as pd

In [22]:
zoo = pd.read_csv("adopce-zvirat.csv", sep=";")

print (zoo)

       id             nazev_cz                     nazev_en       trida_cz  \
0       7          Šváb syčivý  Madagascar giant cockroach      Bezobratlí
1       8  Pakobylka okřídlená     Pink-winged stick insect     Bezobratlí
2      16                Tayra                        Tayra          Savci
3      35        Kajmanka supí    Alligator snapping turtle          Plazi
4      37      Želva žlutočelá       Indochinese box turtle          Plazi
..    ...                  ...                          ...            ...
508  1417  Rosnice šalamounská                               Obojživelníci
509  1418       Létavka obecná                               Obojživelníci
510  1419          Bažant paví                                       Ptáci
511  1420  Sojkovec rezavouchý                                       Ptáci
512  1421   Kachnice kaštanová                                       Ptáci

     cena  k_prohlidce
0    1000            1
1    1000            1
2    5000            1
3    2000            1
4    1000            1
..    ...          ...
508  1000            1
509  1000            1
510  1000            1
511  1000            1
512  1000            1

[513 rows x 6 columns]

In [23]:
zoo.shape

(513, 6)

In [24]:
zoo.columns

Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

In [25]:
zoo.iloc[34]

id                     99
nazev_cz        Ibis bílý
nazev_en       White ibis
trida_cz            Ptáci
cena                 3000
k_prohlidce             1
Name: 34, dtype: object

In [26]:
zoo.iloc[34,1:3]

nazev_cz     Ibis bílý
nazev_en    White ibis
Name: 34, dtype: object

In [27]:
zoo.sort_values(by="cena", ascending=False).iloc[0]

id                         335
nazev_cz       Tygr sumaterský
nazev_en        Sumatran tiger
trida_cz                 Savci
cena                     50000
k_prohlidce                  1
Name: 114, dtype: object

In [28]:
zoo.sort_values(by="nazev_cz").iloc[-1]

id                               1190
nazev_cz                  Žluva hajní
nazev_en       Eurasian golden oriole
trida_cz                        Ptáci
cena                             1000
k_prohlidce                         1
Name: 371, dtype: object

In [29]:
zoo.sort_values(by="nazev_en").iloc[-1]

id                                 491
nazev_cz           Frankolín žlutokrký
nazev_en       Yellow-necked francolin
trida_cz                         Ptáci
cena                              1000
k_prohlidce                          1
Name: 161, dtype: object